<strong>Olá, {{ name }}</strong>
<p>Houve um cancelamento na entrega do pedido, confira os detalhes abaixo:</p>
<p>
  <strong>Produto:  </strong> {{ product }} <br />
  <strong>Descrição:  </strong> {{ description }} <br />
  <strong>Data de Cancelamento:  </strong> {{ date }} <br />
  <br />
</p>
